.aside-bottom {
    position: fixed;
    top: calc(100% - 20px);
    right: 5px;
    height: calc(100% - 95px);
    width: calc(100% - 235px);
    transition: ease-in-out .2s;
}

.aside-bottom.full {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.aside-bottom .ab-content {
    min-height: 100%;
    background: #eee;
}

.aside-bottom.ab-open {
    top: 55px;
}

.aside-bottom.ab-open.full {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, .6);
}

.aside-bottom.ab-open .ab-content {
    margin-top: 30px;
}

/** Controles pages **/
.aside-bottom .controls-pages {
    position: absolute;
    right: 0;
    top: -30px;
    height: 30px;
    background: #404040;
    border-radius: 15px;
}

.aside-bottom .controls-pages i:last-child {
    display: none;
}

.controls-pages .fa {
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.controls-pages .fa:hover {
    opacity: .7;
}

.aside-bottom.ab-open .controls-pages {
    top: 0;
}

.aside-bottom.ab-open .controls-pages i:last-child {
    display: inline-block;
}

/** Tabs **/
.aside-bottom.ab-open .tab-content {
    height: calc(100vh - 160px);
}

.aside-bottom.ab-open.full .tab-content {
    height: calc(100vh - 74px);
}