.badge {
    display: inline-block;
    padding: 3px 10px;
    font-size: 11px;
}

.badge-rounder {
    border-radius: 10px;
}

.notifis-badge {
    position: absolute;
    right: -10px;
    top: -10px;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    background-color:var(--theme);
    border-radius: 10px;
}

/** Colors **/
.badge-default {
    color: var(--white);
    background-color: #333;
}

.badge-primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.badge-success {
    color: var(--white);
    background-color: var(--success);
    border-color: var(--success);
}

.badge-info {
    color: var(--white);
    background-color: var(--info);
    border-color: var(--info);
}

.badge-warning {
    color: #1f2d3d;
    background-color: var(--warning);
    border-color: var(--warning);
}

.badge-danger {
    color: var(--white);
    background-color: var(--danger);
    border-color: var(--danger);
}