.breadcrumb {
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    border-radius: 2px;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    content: '>\00a0';
    color: #ccc;
}

.breadcrumb>li.active {
   color: #888;
}