.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    user-select: none;
    text-transform: uppercase;
    vertical-align: middle;
    border: 0;
    font-size: 13px;
    border-radius: 3px;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.btn:hover, .btn:active, .btn:focus {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}

.btn-rounder {
    border-radius: 20px;
}

/** Colors **/
.btn-default {
    color: #333;
    background-color: var(--white);
    border-color: #ccc;
}

.btn-theme {
    color: var(--white);
    background-color: var(--theme);
    border-color: var(--theme);
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-success {
    color: var(--white);
    background-color: var(--success);
    border-color: var(--success);
}

.btn-info {
    color: var(--white);
    background-color: var(--info);
    border-color: var(--info);
}

.btn-warning {
    color: #1f2d3d;
    background-color: var(--warning);
    border-color: var(--warning);
}

.btn-danger {
    color: var(--white);
    background-color: var(--danger);
    border-color: var(--danger);
}

.btn-discord {
    color: var(--white);
    background: #7289da;
}

.btn-github {
    color: var(--white);
    background: #444;
}

.btn-google {
    color: var(--white);
    background: #dd4b39;
}

.btn-facebook {
    color: var(--white);
    background: #47639e;
}

/** Taille **/
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 10px;
}

/** Groupe **/
.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
    position: relative;
    flex: 1 1 auto;
}

.btn-group .btn + .btn {
    border-left: 0;
    margin-left: 0!important;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group > .btn:not(:first-child), 
.btn-group > .btn-group:not(:first-child) {
    margin-left: -1px;
}

.btn-link-with-form {
    width: 100%;
}

.btn-link-with-form button {
    border: none;
    border-radius: 0;
    height: 100%;
    transition: .3s ease-in-out;
}

.btn-link-with-form button:hover {
    opacity: .7;
}