.card {
    position: relative;
    word-wrap: break-word;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.card-img .card-img-top {
    border-top-left-radius: calc(10px - 1px);
    border-top-right-radius: calc(10px - 1px);
}

.card-img .card-img-bottom {
    border-bottom-left-radius: calc(10px - 1px);
    border-bottom-right-radius: calc(10px - 1px);
}

.card .card-img-top,
.card .card-img-bottom {
    width: 100%;
}