.content {
    margin-top: 50px;
    margin-left: 230px;
    padding: 0 10px;
    background: var(--white);
    box-shadow: 0 0 5px var(--black);
    transition: ease-in-out .2s;
}

.content-title {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background: var(--white);
    border-bottom: 2px solid var(--theme);
}

.content-title h1 {
    font-size: 18px;
    text-transform: uppercase;
    color:var(--theme);
    font-weight: bold;
    line-height: 30px;
}

.content .content-page {
    overflow-y: scroll;
    height: calc(100vh - 105px);
    margin-top: 5px;
    padding-bottom: 10px;
}