.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    width: 235px;
    font-size: 14px;
    text-align: left;
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
    z-index: 1;
}

.dropdown-content .dropdown-arrow {
    border-color: transparent transparent var(--theme);
    border-bottom-color: var(--theme);
    border-top-color: var(--theme);
    border-style: solid;
    border-width: 0 9px 9px;
    position: absolute;
    left: 6px;
    top: -9px;
}

.dropdown-content .dropdown-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(37, 79, 156, 0.1); */
    z-index: -1;
}

.dropdown-content .dropdown-content-header {
    background-color: var(--theme);
    color: var(--white);
    font-size: 15px;
    font-weight: bold;
    padding: 12.5px 10px;
    border-radius: 4px 4px 0px 0px;
}

.dropdown-content .dropdowwn-link {
    display: inline-block;
    width: 100%;
    padding: 15px 10px;
    font-size: 12px;
    border-bottom: 1px solid #ebebeb;
}

.dropdown-content .dropdowwn-link .photo img {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 4px;
    border-radius: 2px;
}

.dropdown-content .dropdowwn-link .subject {
    display: block;
    margin: 6px 0;
}

.dropdown-content .dropdowwn-link .subject .from {
    font-size: 12px;
    font-weight: bold;
}

.dropdown-content .dropdowwn-link .subject .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

.dropdown-content .dropdowwn-link .message {
    display: block;
    font-size: 11px;
}


/** Dropdows Notifications **/
.dropdown-content.dropdown-danger .dropdown-arrow {
    border-color: transparent transparent #e64c49;
    border-bottom-color: #e64c49;
    border-top-color: #e64c49;
}

.dropdown-content.dropdown-danger .dropdown-content-header {
    background-color: #e64c49;
}

/** Dropdows Setting **/
.dropdown-content.dropdown-setting .dropdown-arrow {
    border-color: transparent transparent #fcb322;
    border-bottom-color: #fcb322;
    border-top-color: #fcb322;
}

.dropdown-content.dropdown-setting .dropdown-content-header {
    background-color: #fcb322;
}

/** Dropdown right **/
.dropdown-content.dropdown-right {
    left: unset;
    right: 0;
}

.dropdown-content.dropdown-right .dropdown-arrow {
    left: unset;
    right: 6px;
}

/** Smal dropdown **/
.dropdown-smal {
     position: relative;
     display: inline-block;
 }

 .dropdown-smal .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 10px;
    z-index: 3;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-smal.open .dropdown-menu {
    display: block;
}

.dropdown-smal .dropdown-menu a {
    display: block;
    line-height: 1.7;
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
    color: #000;
}

.dropdown-smal .dropdown-menu a:hover {
    background-color: #f5f5f5;
}

.dropdown-smal .dropdown-menu.left {
    right: -5px;
    left: auto;
}