.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    color: #ffffffab;
    background: #2f323a;
    z-index: 1;
}

.footer p {
    float: right;
    margin-right: 20px;
    line-height: 20px;
    font-size: 12px;
}

.footer p strong {
    text-transform: uppercase;
}

.footer i.fa-sort-up {
    position: fixed;
    right: 4px;
    bottom: 4px;
    padding: 2.5px 2px 0px 2px;
    background: var(--white);
    color: #2f323a;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    cursor: pointer;
}