.label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    text-transform: capitalize;
}

/** Input **/
.input-group {
    position: relative;
}

.input-group.has-icon .input {
    padding-left: 40px;
}

.input-group .input[type="password"] {
    width: calc(100% - 32px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input {
    width: 100%;
    height: 40px;
    background-color: #fbfcfd;
    background-repeat: no-repeat;
    background-size: 0 100%;
    box-shadow: 0 0 transparent, inset 0 0 0 1px rgb(17 43 134 / 10%);
    transition: box-shadow .15s ease-in, background-image .15s ease-in, background-size .15s ease-in, background-color .15s ease-in;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    letter-spacing: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-size: 14px;
    color: #343741;
    border: none;
    border-radius: 6px;
    padding: 12px;
}

.input:focus {
    box-shadow: inset 0 0 0 1px rgb(17 43 134 / 10%);
    background-color: #fff;
    background-image: linear-gradient(0deg, var(--theme), var(--theme) 2px, transparent 0, transparent);
    background-size: 100% 100%;
    outline: none;
}

.input-icon {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.show-hide-password {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    cursor: pointer;
    background-color: rgb(17 43 134 / 10%);
    text-align: center;
    padding-top: 12px;
    width: 32px;
    border-radius: 0 5px 5px 0;
}

/** Erreur **/
.input.has-error {
    color: var(--danger);
    border-color: var(--danger);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px 0px var(--danger);
}

.msgError {
    padding: 2px 15px;
    color: var(--danger);
    font-size: 11px;
    font-style: italic;
}

.span-label {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
    height: 17px;
    width: 17px;
    padding-top: 4px;
    color: var(--white);
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    border-radius: 3px;
    background: var(--theme);
}