.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
}

.header .logo {
    display: block;
    text-align: center;
    font-size: 24px;
    width: 230px;
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 900;
    background: #0e1421;
    line-height: 50px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background:#22242a;
    width: calc(100% - 230px);
}

.header nav .hamburger {
    font-size: 18px;
    cursor: pointer;
    line-height: 50px;
    margin-right: 20px;
    margin-left: 10px;
}

.header nav>div {
    display: flex;
}

.header nav>div ul {
    margin-top: 16px;
}

/** Header Notifications **/
.header .header-notifs {
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 92px;
}

.header-li-icon {
    float: left;
    position: relative;
    margin-right: 20px;
}

.header nav> ul .header-icon {
    line-height: 50px;
}

.header-icon {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #666666;
    padding: 5px 6px;
}

.header-icon:hover,
.header-icon.active {
    border-color: #b6b6b6;
    color: #b6b6b6;
}

.header-li-icon:last-child {
    margin-right: 0;
}