.link {
    display: inline-block;
    padding: 5px;
    color: var(--white);
    background:var(--theme);
    text-align: center;
    font-weight: bold;
    border: 3px solid var(--theme);
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.link .link-icon {
    width: 25px;
    height: 25px;
    padding: 5px;
    color: var(--theme);
    background: var(--white);
    border-radius: 50%;
    transition: ease-in-out .3s;
}

.link:hover .link-icon {
    color: var(--white);
    background:var(--theme);
}

.link:hover {
    color:var(--theme);
    background: var(--white);
}

.link.small {
    padding: 0;
}