.app-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    z-index: 999;
}

.app-preloader div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.content-spinner-loader {
    display: none;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.content-spinner-loader i {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 105px);
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: var(--theme);
}

.big-load {
    top: 50px;
    left: 230px;
    height: calc(100% - 70px);
}

.small-load {
    display: none;
    position: fixed;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.dot {
    background: var(--theme);
}

.dot,
.dot:after {
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    animation: dotLoader 1.5s calc(((var(--i) + var(--o, 0))/var(--n) - 1)*1.5s) infinite;
}

.dot:after {
    --o: 1;
    background: var(--white);
    content: "";
}

@keyframes dotLoader {
    0%,
    50% {
        transform: scale(0);
    }
}

@media (max-width: 950px) {
    .content-spinner-loader i {
        top: calc(50%);
        left: calc(50%);
    }

    .big-load {
        top: 100px;
        left: 0;
        height: calc(100% - 120px);
    }
}