.inbox {
    display: flex;
    position: relative;
    height: 100%;
    border: 1px solid #e7eaed;
}

/** Aside Categotie **/
.inbox .inbox-categorie {
    width: 230px;
    border-right: 1px solid #ccc;
}

.inbox-categorie .inbox-form-search {
    padding: 13px 10px;
}

.inbox-categorie .jifi-tabs-systems.jifi-tabs-style-2 {
    margin-top: 0px!important;
    height: calc(100% - 60px);
}

.inbox-categorie .jifi-tabs-systems.jifi-tabs-style-2 .jifi-tabs-content {
    overflow-y: scroll;
    height: calc(100% - 36px);
}

.inbox-categorie .jifi-tabs-systems.jifi-tabs-style-2 .jifi-tab-content {
    padding: 0;
}

.inbox-lists-item {
    border-bottom: 1px solid #f3f3f3;
    padding: 10px;
}

.inbox-lists-item:hover,
.inbox-lists-item.active {
    background: rgb(37 79 156 / 10%);
}

.inbox-lists-item img,
.inbox-lists-item .mail-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--theme);
    background-color: var(--white);
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.inbox-lists-item div div {
    margin: 0 10px;
}

.inbox-lists-item .inbox-lists-user p {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inbox-lists-item .inbox-lists-user span {
    font-size: 10px;
}

.inbox-count-new time {
    font-size: 9px;
    margin: 5px 0;
}

.inbox-count-new span {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: var(--theme);
    color: var(--white);
    font-size: 8px;
    line-height: 17px;
    text-align: center;
}

.add-new-item {
    display: inline-block;
    height: 34px;
    width: 34px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 30%);
    background: linear-gradient(180deg, #00d8ff, #00b5d6);
}

/** Content **/
.inbox .inbox-content {
    width: calc(100% - 230px);
}

.inbox-content-header .inbox-lists-item,
.inbox-content-header .inbox-lists-item:hover {
    background: var(--theme);
}

.inbox-content-header .inbox-lists-item div .m-0,
.inbox-content-header .dropdown-smal,
.inbox-content-header .inbox-content-header-options {
    margin: 0 !important;
}

.inbox-content-header .inbox-content-header-options .btn {
    font-size: 18px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.inbox-content-body {
    overflow-y: scroll;
    height: calc(100% - 100px);
    background: #eee;
    background-image: linear-gradient(180deg ,#eee 10%,#555 100%)!important;
}



/** Messagerie **/

/** Send **/
 .inbox-content-footer {
    height: 40px;
    background: #f2f2f2;
}

.inbox-content-footer textarea {
    resize: none;
    padding: 5px 10px;
    height: 40px;
    font-family: sans-serif;
    border: none;
    border-radius: 0;
    background: transparent;
    width: calc(100% - 130px);
}

.inbox-content-footer .medias-icon {
    margin: 5px;
}

.inbox-content-footer .media-icon:first-child {
    margin-right: 5px;
}

.inbox-content-footer .media-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: var(--white);
    background: var(--theme);
}

.inbox-content-footer button {
    color: var(--white);
    border-radius: 0;
    border: 0;
    padding: 0 15px;
    font-size: 25px;
    background: linear-gradient(180deg, #00d8ff, #00b5d6);
    text-shadow: 1px 1px 0 rgb(0 0 0 / 30%);
}

/** Message item **/
.sms-item {
    position: relative;
    padding: 5px 10px;
    max-width: calc(100% - 50px);
    width: max-content;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sms-item .sms-setting input,
.sms-item .sms-setting a {
    display: none;
}

.sms-item .sms-setting input {
    margin-right: 5px;
    height: 20px;
}

.sms-item .sms-setting {
    display: inline-block;
    margin-bottom: -4px;
}

.sms-item .sms-setting a {
    border-radius: 10px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--danger);
}

.sms-item .sms-setting a:hover {
    background-color: var(--danger);
    color: #fff;
}

.sms-item:hover a,
.sms-item:hover input,
.sms-item input[type=checkbox]:checked {
    display: inline-block;
}

.sms-item .arrow {
    border-color: transparent;
    border-style: solid;
    position: absolute;
    top: 0;
}

.sms-item.sms-item-left {
    border-top-left-radius: 0;
    background-color: var(--white);
}

.sms-item.sms-item-left .arrow {
    border-top-color: var(--white);
    border-width: 8px 0 0 10px;
    left: -10px;
}

.sms-item.sms-item-right {
    border-top-right-radius: 0;
    background-color: #ebfffc;
}

.sms-item.sms-item-right .arrow {
    border-top-color: #ebfffc;
    border-width: 8px 10px 0 0px;
    right: -10px;
}

.sms-item p {
    line-height: 130%;
    color: #666;
}

.sms-item .sms-date {
    font-size: 10px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}




/** Mail **/
.inbox .inbox-categorie-mail {
    background: #f5f6fa;
    overflow-y: scroll;
    height: calc(100% - 60px);
}

.inbox-categorie-group {
    border-bottom: 1px solid #c7c8ca;
    padding: 10px 0;
}

.inbox-categorie-group li {
    padding: 15px 10px;
    font-size: 14px;
}

.inbox-categorie-group li.title {
    font-weight: bold;
    text-transform: capitalize;
}

.inbox-categorie-group li.active {
    background: #edeef2;
    font-weight: bold;
}

.mail-inbox .inbox-content-body {
    height: calc(100% - 60px);
    background: var(--white)!important;
    background-image: var(--white)!important;
}

.mail-item .avatar {
    border-radius: 20px;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.mail-item {
    border-bottom: 1px solid #cccccc96;
}

.mail-item:hover {
    background: #cccccc96;
}

.mail-item td {
    border: none;
    padding: 5px;
}

.mail-item td:hover {
    background: transparent;
    color: #808080;
}

.mail-item-setting a {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}

.mail-item-setting a:hover {
    color: var(--white);
    background: var(--theme);
}

.mail-item-setting a.delete:hover {
    color: var(--white);
    background: var(--danger);
}