.message-box {
    margin: 15px 0;
    padding-left: 20px;
    margin-bottom: 25px !important;
}

.message-box .message-box-content {
    padding: 3px;
    margin: 10px 0;
}

.message-box .message-box-icon {
    position: relative;
    display: inline-block;
    top: 8px;
    width: 40px;
    height: 40px;
}

.message-box .message-box-icon {
    float: left;
    margin-left: -23px;
}

.message-box .message-box-icon::before {
    font-size: 25px;
    content: "";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: var(--white);
}

.message-box-icon i::before,
.message-box-icon i::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -17px;
    transform: rotateX(60deg);
}

.message-box .message-box-icon i::before {
    width: 24px;
    height: 24px;
    box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
}

.message-box .message-box-icon i::after {
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: var(--white);
    border-left-color: var(--white);
    bottom: -18px;
}

.message-box .message-box-text {
    padding: 16px;
    padding-left: 26px;
    text-align: center;
}

.message-box .message-box-text p {
    font-size: 1.15em;
    font-weight: 600;
}

/** Message Box Alert **/
.message-box .message-box-content.message-box-alert,
.message-box .message-box-alert .message-box-icon,
.message-box .message-box-alert .message-box-icon i::before {
    background: #ff6f00;
}

.message-box .message-box-alert .message-box-text {
    color: #212121;
    background: #fff8e1;
}

/** Message Box Danger **/
.message-box .message-box-content.message-box-danger,
.message-box .message-box-danger .message-box-icon,
.message-box .message-box-danger .message-box-icon i::before {
    background: #f44336;
}

.message-box .message-box-danger .message-box-icon::before {
    content: "\f00d";
}

.message-box .message-box-danger .message-box-text {
    color: #b71c1c;
    background: #ffccbc;
}

/** Message Box Success **/
.message-box .message-box-content.message-box-success,
.message-box .message-box-success .message-box-icon,
.message-box .message-box-success .message-box-icon i::before {
    background: #8bc34a;
}

.message-box .message-box-success .message-box-icon::before {
    content: "\f00c";
}

.message-box .message-box-success .message-box-text {
    color: #33691e;
    background: #dcedc8;
}

/** Message Box Warning **/
.message-box .message-box-content.message-box-warning,
.message-box .message-box-warning .message-box-icon,
.message-box .message-box-warning .message-box-icon i::before {
    background: #ffeb3b;
}

.message-box .message-box-warning .message-box-icon::before {
    content: "\f071";
}

.message-box .message-box-warning .message-box-text {
    color: #212121;
    background: #fff9c4;
}

/** Message Box Info **/
.message-box .message-box-content.message-box-info,
.message-box .message-box-info .message-box-icon,
.message-box .message-box-info .message-box-icon i::before {
    background: #03a9f4;
}

.message-box .message-box-info .message-box-icon::before {
    content: "\f129";
}

.message-box .message-box-info .message-box-text {
    color: #01579b;
    background: #b3e5fc;
}