.nav::-webkit-scrollbar-thumb {
    background-color: #2f323a;
    border: 0px solid #2f323a;
}

.nav {
    overflow-y: scroll;
    height: calc(100vh - 244.14px);
    margin-top: 0px;
}

.nav li {
    position: relative;
}

.nav li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 13px;
    outline: none;
    transition: all 0.3s ease;
    border-color: transparent;
}

.nav li a:hover {
    border-left: 5px solid transparent;
}

.nav li a.active {
    background: rgba(255, 255, 255, .2);
    border-left: 5px solid var(--theme);
    color: #fff;
}

/**  Sous menu **/
.nav .sous-menu .sous-menu-content {
    display: none;
    padding-left: 10px;
    background: rgba(255, 255, 255, .08);
}

.nav .sous-menu .sous-menu-content .active {
    background: transparent;
    border-color: transparent;
}

.nav .sous-menu li a {
    padding: 10px 0 10px 10px;
    font-size: 12px;
}