/* Notifiactions Right Bottom */

.jifi-alert-container {
    position: fixed;
    top: auto;
    left: auto;
    bottom: 25px;
    right: 15px;
    z-index: 1;
}

.jifi-alert-item {
    display: none;
    position: relative;
    background: #000;
    color: #eee;
    padding: 10px 10px 20px 10px;
    font-size: 11px;
    margin-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 300px;
}

.jifi-alert-item .jifi-alert-close {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #000;
    border: 2px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    font-size: 13px;
}

.jifi-alert-item:hover {
    border-color: #fff;
}

.jifi-alert-item:hover .jifi-alert-close {
    display: block;
}

.jifi-alert-item .jifi-alert-image {
    width: 48px;
    height: 48px;
}

.jifi-alert-item .jifi-alert-text {
    width: 220px;
}

.jifi-alert-item .jifi-alert-text .jifi-alert-text-title {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0 7px 0;
    display: block;
    text-shadow: 1px 1px 0 #000;
}

.jifi-alert-item .jifi-alert-text p {
    line-height: 140%;
    word-wrap: break-word;
}


/* Notifiactions Top Left */

.jifi-notif-container {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 325px;
    max-width: 90%;
    max-height: 180px;
    z-index: 9999;
}

.jifi-notif-container .jifi-notif-item {
    position: relative;
    cursor: pointer;
    background: var(--primary);
    color: var(--white);
    padding: 6px;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 5px;
    transition: ease-in-out .2s;
}

.jifi-notif-container .jifi-notif-item:hover {
    opacity: .8;
}

.jifi-notif-container .jifi-notif-item i {
    background: var(--white);
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    color: var(--primary);
    padding-top: 3px;
    margin-right: 5px;
}

.jifi-notif-container .jifi-notif-item.danger {
    /* background: #EF476F; */
    background: var(--danger);
}

.jifi-notif-container .jifi-notif-item.danger i {
    color: var(--danger);
}

.jifi-notif-container .jifi-notif-item.success {
    /* background: #06D6A0; */
    background: var(--success);
}

.jifi-notif-container .jifi-notif-item.success i {
    color: var(--success);
}

.jifi-notif-container .jifi-notif-item.warning {
    /* background: #FFD166; */
    background: var(--warning);
}

.jifi-notif-container .jifi-notif-item.warning i {
    color: var(--warning);
}

.jifi-notif-container .jifi-notif-progress-bar {
    background: rgba(47, 50, 58, 0.7);
    opacity: .5;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: 5s jifi-notif-progress-bar linear;
}

@keyframes jifi-notif-end {
    0% {
        right: 5%;
    }
    100% {
        left: 100%;
    }
}

@keyframes jifi-notif-progress-bar {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}