
/**
* Paginations
*/
.system-pagination {
    margin-bottom: 20px;
}

.pagination {
    float: right;
}

.system-pagination:after {
    display: table;
    content: ' ';
    clear: both;
}

.pagination li {
    display: inline-block;
    margin: 0 1px;
}

.pagination a {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    color: #888;
    background-color: #2f323a;
    transition: .3s ease-in-out;
}

.pagination .arrow-right {
    margin-left: 5px;
}

.pagination .arrow-left {
    margin-right: 5px;
}

.pagination .is-active,
.pagination .arrow-left,
.pagination .arrow-right,
.pagination a:hover {
    font-weight: bold;
    background-color: #254f9c;
    border-color: #254f9c;
    color: #fff;
}