.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    height: calc(100% - 50px);
    width: 230px;
    background: #2f323a;
    transition: ease-in-out .2s;
    z-index: 1;
}

.sidebar .account {
    display: flex;
    padding: 10px;
}

.sidebar .account img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.sidebar .account .account-info {
    padding-top: 6px;
    padding-left: 15px;
}

.sidebar .account .account-info p {
    font-weight: 600;
    margin-bottom: 9px;
}

.sidebar .account .account-info a {
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}

.sidebar .menu-principal {
    padding: 10px;
    background: rgba(30,30,30,.93);
}

/* Aside recherche */
.sidebar form {
    padding: 10px;
}

.sidebar form button {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    width: 36px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 3px;
    color: var(--white);
    background: var(--theme);
}

.sidebar form .checkbox-search {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.sidebar form .checkbox-search label {
    margin-top: 3px;
    font-size: 10px;
    color: var(--white);
}

/** Aside & Content Fixe **/
.aside-close .sidebar {
    left: -230px;
}

.aside-close .content {
    margin-left: 0;
}

.aside-close .aside-bottom {
    margin-left: 0;
    width: 100%;
}