table {
    width: 100%;
    background-color: var(--white);
    border-collapse: collapse;
}

table thead th {
    font-size: 12px;
    color: var(--white);
    text-transform: uppercase;
    background-color: #2f323a;
    padding: 20px;
    text-align: left;
    font-weight: bold;
    border-top: 1px solid #2f323a;
    border-bottom: 1px solid #2f323a;
    border-left: 1px solid #cccccc96;
}

table thead tr th:last-child {
    border-right: 1px solid #2f323a;
}

table thead tr th:first-child {
    border-left: 1px solid #2f323a;
}

table thead tr th.has-selected {
    background-color: #484848;
}

table thead th.table-number {
    width: 10px;
}

table tbody tr:nth-child(2n+1) {
    background-color: #f1f1f14a;
}

table tbody td {
    font-size: 14px;
    color: #808080;
    padding: 15px;
    border: 1px solid #cccccc96;
}

table tbody td.table-number {
    width: 10px;
    text-align: center;
}

table tbody tr:hover,
table tbody td.has-selected {
    background-color: #f2f2f2;
}

table tbody td:hover {
    background-color: var(--theme);
    color: var(--white);
    border-color: var(--theme);
}

/** **/
.actions-table {
    display: none;
    margin-top: 10px;
}