:root {
    --theme: #254f9c;
    --primary: #007bff;
    --success: #28a745;
    --info: #17a2b8; /* #31708f */
    --blue: rgba(37,165,169,0.98824);
    --warning: #ffc107;
    --danger: #dc3545; /* #c72b26 */
    --black: #000;
    --dark: #858796;
    --white: #fff;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    display: inline;
    zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;  
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    opacity: .8;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

figure,
form {
    margin: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    vertical-align: middle;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
}

button[type="submit"] {
    position: relative;
}

button[disabled],
textarea[disabled],
select[disabled],
a[disabled],
input[disabled] {
    cursor: not-allowed;
    background: rgb(204 204 204 / 25%);
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    height: 13px;
    width: 13px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

b,
strong {
    font-weight: bold;
}

button[type="submit"] span {
    position: absolute;
    text-align: center;
    top: -1px;
    padding-top: 6px;
    left: -1px;
    background: rgb(255 255 255 / 0.80);
    right: -1px;
    bottom: -1px;
    border-radius: 4px;
    color: var(--theme);
    font-size: 15px;
}

button[type="submit"].btn span {
    padding-top: 1px;
}

fieldset {
    border: 1px solid var(--theme);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 20px 10px;
    padding: 5px 0 9px 0;
}

legend {
    border: 0;
    padding: 10px;
    white-space: normal;
    margin-left: 5px;
    font-weight: bold;
    color: var(--white);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: var(--theme);
    text-transform: uppercase;
    margin-bottom: 10px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 0;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.flex-flow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.justify-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.flex-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-center-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.float-right {
    float: right !important;
}

.float-right:after {
    display: table;
    content: ' ';
    clear: both;
}
.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
    .col-sm-1 {
      -ms-flex: 0 0 8.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.333333%;
              flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-sm-2 {
      -ms-flex: 0 0 16.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.666667%;
              flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-sm-3 {
      -ms-flex: 0 0 25%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%;
    }
    .col-sm-4 {
      -ms-flex: 0 0 33.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
              flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-sm-5 {
      -ms-flex: 0 0 41.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 41.666667%;
              flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-sm-6 {
      -ms-flex: 0 0 50%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%;
    }
    .col-sm-7 {
      -ms-flex: 0 0 58.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 58.333333%;
              flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-sm-8 {
      -ms-flex: 0 0 66.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 66.666667%;
              flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-sm-9 {
      -ms-flex: 0 0 75%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%;
    }
    .col-sm-10 {
      -ms-flex: 0 0 83.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 83.333333%;
              flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-sm-11 {
      -ms-flex: 0 0 91.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 91.666667%;
              flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-sm-12 {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.333333%;
              flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.666667%;
              flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
              flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 41.666667%;
              flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 58.333333%;
              flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 66.666667%;
              flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 83.333333%;
              flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 91.666667%;
              flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
      -ms-flex: 0 0 8.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.333333%;
              flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-lg-2 {
      -ms-flex: 0 0 16.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.666667%;
              flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-lg-3 {
      -ms-flex: 0 0 25%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%;
    }
    .col-lg-4 {
      -ms-flex: 0 0 33.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
              flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-lg-5 {
      -ms-flex: 0 0 41.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 41.666667%;
              flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-lg-6 {
      -ms-flex: 0 0 50%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%;
    }
    .col-lg-7 {
      -ms-flex: 0 0 58.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 58.333333%;
              flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-lg-8 {
      -ms-flex: 0 0 66.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 66.666667%;
              flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-lg-9 {
      -ms-flex: 0 0 75%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%;
    }
    .col-lg-10 {
      -ms-flex: 0 0 83.333333%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 83.333333%;
              flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-lg-11 {
      -ms-flex: 0 0 91.666667%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 91.666667%;
              flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-lg-12 {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
    }
}

@media (min-width: 1200px) { }

@media (max-width: 992px) {
    .container {
        width: 970px;
    }
}
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-black {
    background-color: var(--black) !important;
}

.bg-success {
    background-color: var(--success) !important;
}

.bg-info {
    background-color: var(--info) !important;
}

.bg-warning {
    background-color: var(--warning) !important;
}

.bg-danger {
    background-color: var(--danger) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-theme {
    background-color: var(--theme) !important;
}

/** Degradé **/
.bgg-primary,
.bgg-success,
.bgg-info,
.bgg-warning,
.bgg-danger {
    background-size: cover!important;
}

.bgg-primary {
    background-color: #4e73df!important;
    background-image: -o-linear-gradient(top,#4e73df 10%,#224abe 100%)!important;
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(10%, #4e73df),to(#224abe))!important;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%)!important;
}

.bgg-success {
    background-color: #1cc88a!important;
    background-image: -o-linear-gradient(top,#1cc88a 10%,#13855c 100%)!important;
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(10%, #1cc88a),to(#13855c))!important;
    background-image: linear-gradient(180deg,#1cc88a 10%,#13855c 100%)!important;
}

.bgg-info {
    background-color: #36b9cc!important;
    background-image: -o-linear-gradient(top,#36b9cc 10%,#258391 100%)!important;
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(10%, #36b9cc),to(#258391))!important;
    background-image: linear-gradient(180deg,#36b9cc 10%,#258391 100%)!important;
}

.bgg-warning {
    background-color: #f6c23e!important;
    background-image: -o-linear-gradient(top,#f6c23e 10%,#dda20a 100%)!important;
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(10%, #f6c23e),to(#dda20a))!important;
    background-image: linear-gradient(180deg,#f6c23e 10%,#dda20a 100%)!important;
}

.bgg-danger {
    background-color: #e74a3b!important;
    background-image: -o-linear-gradient(top,#e74a3b 10%,#be2617 100%)!important;
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(10%, #e74a3b),to(#be2617))!important;
    background-image: linear-gradient(180deg,#e74a3b 10%,#be2617 100%)!important;
}
/** Auto **/
.m-auto {
    margin: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mtb-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mlr-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

/** 0px **/
.m-0 {
    margin: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mtb-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mlr-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/** 10px **/
.m-1 {
    margin: 10px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.mt-1 {
    margin-top: 10px !important;
}

.ml-1 {
    margin-left: 10px !important;
}

.mr-1 {
    margin-right: 10px !important;
}

.mtb-1 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mlr-1 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

/** 20px **/
.m-2 {
    margin: 20px !important;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mt-2 {
    margin-top: 20px !important;
}

.ml-2 {
    margin-left: 20px !important;
}

.mr-2 {
    margin-right: 20px !important;
}

.mtb-2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mlr-2 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

/** 30px **/
.m-3 {
    margin: 30px !important;
}

.mb-3 {
    margin-bottom: 30px !important;
}

.mt-3 {
    margin-top: 30px !important;
}

.ml-3 {
    margin-left: 30px !important;
}

.mr-3 {
    margin-right: 30px !important;
}

.mtb-3 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mlr-3 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

/** 40px **/
.m-4 {
    margin: 40px !important;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.mt-4 {
    margin-top: 40px !important;
}

.ml-4 {
    margin-left: 40px !important;
}

.mr-4 {
    margin-right: 40px !important;
}

.mtb-4 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.mlr-4 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

/** 50px **/
.m-5 {
    margin: 50px !important;
}

.mb-5 {
    margin-bottom: 50px !important;
}

.mt-5 {
    margin-top: 50px !important;
}

.ml-5 {
    margin-left: 50px !important;
}

.mr-5 {
    margin-right: 50px !important;
}

.mtb-5 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.mlr-5 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

/** 0px **/
.p-0 {
    padding: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.ptb-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.plr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/** 10px **/
.p-1 {
    padding: 10px !important;
}

.pb-1 {
    padding-bottom: 10px !important;
}

.pt-1 {
    padding-top: 10px !important;
}

.pl-1 {
    padding-left: 10px !important;
}

.pr-1 {
    padding-right: 10px !important;
}

.ptb-1 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.plr-1 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/** 20px **/
.p-2 {
    padding: 20px !important;
}

.pb-2 {
    padding-bottom: 20px !important;
}

.pt-2 {
    padding-top: 20px !important;
}

.pl-2 {
    padding-left: 20px !important;
}

.pr-2 {
    padding-right: 20px !important;
}

.ptb-2 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.plr-2 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/** Extra **/
.pr-40px {
    padding-right: 40px!important;
}

.plr-5px {
    padding: 5px!important;
}

.width-100 {
    width: 100px!important;
}
/** Position **/
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}


/**
 * Text Color
 **/
.text-theme {
    color: var(--theme) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-info {
    color: var(--info) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-black {
    color: var(--black) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-white {
    color: var(--white) !important;
}


/**
 * Font size
 **/
.text-small {
    font-size: 12px !important;
}

.text-font-15 {
    font-size: 15px !important;
}

.text-font-18 {
    font-size: 18px !important;
}


/**
 * Text Font
 **/
.text-bold {
    font-weight: bold !important;
}


/**
 * Text Transform
 **/
.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}


/**
 * Line Height
 **/
.line-height {
    line-height: 1.4;
}

.line-height-1 {
    line-height: 1;
}

.line-height-2 {
    line-height: 2;
}

.line-height-3 {
    line-height: 3;
}
.label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    text-transform: capitalize;
}

/** Input **/
/*
    .input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: var(--white);
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .input:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
*/

.input-group {
    position: relative;
}

.input-group.has-icon .input {
    padding-left: 40px;
}

.input-group .input[type="password"] {
    width: calc(100% - 32px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input {
    width: 100%;
    height: 40px;
    background-color: #fbfcfd;
    background-repeat: no-repeat;
    background-size: 0 100%;
    -webkit-box-shadow: 0 0 transparent, inset 0 0 0 1px rgb(17 43 134 / 10%);
            box-shadow: 0 0 transparent, inset 0 0 0 1px rgb(17 43 134 / 10%);
    -webkit-transition: background-image .15s ease-in, background-size .15s ease-in, background-color .15s ease-in, -webkit-box-shadow .15s ease-in;
    transition: background-image .15s ease-in, background-size .15s ease-in, background-color .15s ease-in, -webkit-box-shadow .15s ease-in;
    -o-transition: box-shadow .15s ease-in, background-image .15s ease-in, background-size .15s ease-in, background-color .15s ease-in;
    transition: box-shadow .15s ease-in, background-image .15s ease-in, background-size .15s ease-in, background-color .15s ease-in;
    transition: box-shadow .15s ease-in, background-image .15s ease-in, background-size .15s ease-in, background-color .15s ease-in, -webkit-box-shadow .15s ease-in;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    letter-spacing: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-kerning: normal;
    -webkit-font-feature-settings: "kern";
            font-feature-settings: "kern";
    font-kerning: normal;
    font-size: 14px;
    color: #343741;
    border: none;
    border-radius: 6px;
    padding: 12px;
}

.input:focus {
    -webkit-box-shadow: inset 0 0 0 1px rgb(17 43 134 / 10%);
            box-shadow: inset 0 0 0 1px rgb(17 43 134 / 10%);
    background-color: #fff;
    background-image: -o-linear-gradient(bottom, var(--theme), var(--theme) 2px, transparent 0, transparent);
    background-image: linear-gradient(0deg, var(--theme), var(--theme) 2px, transparent 0, transparent);
    background-size: 100% 100%;
    outline: none;
}

.input-icon {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.show-hide-password {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    cursor: pointer;
    background-color: rgb(17 43 134 / 10%);
    text-align: center;
    padding-top: 12px;
    width: 32px;
    border-radius: 0 5px 5px 0;
}

/** Erreur **/
.input.has-error {
    color: var(--danger);
    border-color: var(--danger);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px 0px var(--danger);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px 0px var(--danger);
}

.msgError {
    padding: 2px 15px;
    color: var(--danger);
    font-size: 11px;
    font-style: italic;
    float: left;
}

.span-label {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
    height: 17px;
    width: 17px;
    padding-top: 4px;
    color: var(--white);
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    border-radius: 3px;
    background: var(--theme);
}
/* Notifiactions Right Bottom */

.jifi-alert-container {
    position: fixed;
    top: auto;
    left: auto;
    bottom: 25px;
    right: 15px;
}

.jifi-alert-item {
    display: none;
    position: relative;
    background: #000;
    color: #eee;
    padding: 10px 10px 20px 10px;
    font-size: 11px;
    margin-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 300px;
}

.jifi-alert-item .jifi-alert-close {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #000;
    border: 2px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    font-size: 13px;
}

.jifi-alert-item:hover {
    border-color: #fff;
}

.jifi-alert-item:hover .jifi-alert-close {
    display: block;
}

.jifi-alert-item .jifi-alert-image {
    width: 48px;
    height: 48px;
}

.jifi-alert-item .jifi-alert-text {
    width: 220px;
}

.jifi-alert-item .jifi-alert-text .jifi-alert-text-title {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0 7px 0;
    display: block;
    text-shadow: 1px 1px 0 #000;
}

.jifi-alert-item .jifi-alert-text p {
    line-height: 140%;
    word-wrap: break-word;
}


/* Notifiactions Top Left */

.jifi-notif-container {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 325px;
    max-width: 90%;
    max-height: 180px;
    z-index: 9999;
}

.jifi-notif-container .jifi-notif-item {
    position: relative;
    cursor: pointer;
    background: var(--primary);
    color: var(--white);
    padding: 6px;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 5px;
    -webkit-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
}

.jifi-notif-container .jifi-notif-item:hover {
    opacity: .8;
}

.jifi-notif-container .jifi-notif-item i {
    background: var(--white);
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    color: var(--primary);
    padding-top: 3px;
    margin-right: 5px;
}

.jifi-notif-container .jifi-notif-item.danger {
    /* background: #EF476F; */
    background: var(--danger);
}

.jifi-notif-container .jifi-notif-item.danger i {
    color: var(--danger);
}

.jifi-notif-container .jifi-notif-item.success {
    /* background: #06D6A0; */
    background: var(--success);
}

.jifi-notif-container .jifi-notif-item.success i {
    color: var(--success);
}

.jifi-notif-container .jifi-notif-item.warning {
    /* background: #FFD166; */
    background: var(--warning);
}

.jifi-notif-container .jifi-notif-item.warning i {
    color: var(--warning);
}

.jifi-notif-container .jifi-notif-progress-bar {
    background: rgba(47, 50, 58, 0.7);
    opacity: .5;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-animation: 5s jifi-notif-progress-bar linear;
            animation: 5s jifi-notif-progress-bar linear;
}

@-webkit-keyframes jifi-notif-end {
    0% {
        right: 5%;
    }
    100% {
        left: 100%;
    }
}

@keyframes jifi-notif-end {
    0% {
        right: 5%;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes jifi-notif-progress-bar {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}

@keyframes jifi-notif-progress-bar {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}
/** Outils **/

/** Modules **/


body {
    background: #333;
    font-family: sans-serif;
    background-position: top;
}

.fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/** LOADER **/
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
            animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #254f9c;
    font-size: 10px;
    margin: auto;
    margin-top: 20px;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
    text-align: center;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

.loader span {
    margin-left: -12px;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        -webkit-box-shadow: 0 2.5em 0 -1.3em;
                box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        -webkit-box-shadow: 0 2.5em 0 0;
                box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        -webkit-box-shadow: 0 2.5em 0 -1.3em;
                box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        -webkit-box-shadow: 0 2.5em 0 0;
                box-shadow: 0 2.5em 0 0;
    }
}

/** FROM JIFITECH **/
.from-jititech {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.from-jititech .jifitech {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
}

.from-jititech .jifitech p {
    font-size: 16px;
    line-height: 25px;
    margin-left: 5px;
    color: #254f9c;
}

/** LOGIN PAGE **/
.submit-form {
    max-width: 300px;
    min-width: 270px;
    background: #fff;
    border-radius: 5px;
}

.submit-form h2 {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background: #254f9c;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.submit-form .submit-form-content {
    padding: 20px;
}

.submit-form .forget-password {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 11px;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #254f9c;
}

.submit-form .forget-password input {
    margin-top: -3px;
}

.submit-form button {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background: #254f9c;
}

.submit-form hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979;
}

.submit-form p {
    font-size: 14px;
    text-align: center;
    color: #777;
    line-height: 150%;
}

/** LOCK PAGE **/
.content-times {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content-times h1 {
    width: 100%;
    font-size: 50px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.content-times a {
    font-size: 60px;
    display: inline-block;
    margin: 30px 0 15px 0;
    border: #fff solid 5px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 95px;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.content-times a:hover {
    color: #254f9c;
    border-color: #254f9c;
}

.content-times p {
    text-transform: uppercase;
    color: #797979;
    margin: 0 0 10px;
    font-size: 13px;
}
