/** Plugins **/
@import '../plugins/confirm/confirm.css';
@import '../plugins/tabs/tabs.css';
@import '../plugins/tooltips/tooltips.css';

/** Outils **/
@import 'tools/root.css';
@import 'tools/reset.css';
@import 'tools/flex.css';
@import 'tools/float.css';
@import 'tools/container.css';
@import 'tools/col.css';
@import 'tools/background.css';
@import 'tools/margin.css';
@import 'tools/padding.css';
@import 'tools/text.css';
@import 'tools/position.css';
@import 'tools/scrollbar.css';
@import 'tools/liste.css';

/** Modules **/
@import 'modules/card.css';
@import 'modules/border.css';
@import 'modules/chip.css';
@import 'modules/badge.css';
@import 'modules/breadcrumb.css';
@import 'modules/btn.css';
@import 'modules/dropdown.css';
@import 'modules/form.css';
@import 'modules/loaders.css';
@import 'modules/message-box.css';
@import 'modules/modal.css';
@import 'modules/notification.css';
@import 'modules/pagination.css';
@import 'modules/table.css';
@import 'modules/header.css';
@import 'modules/sidebar.css';
@import 'modules/nav.css';
@import 'modules/content.css';
@import 'modules/link.css';
@import 'modules/aside-bottom.css';
@import 'modules/footer.css';
@import 'modules/mail.css';

/** Generic **/
html,
body {
    height: 100vh;
    overflow: hidden!important;
    font: 500 .9rem/1 sans-serif;
    color: #797979;
}

::selection {
    background: var(--theme);
    color: #fff;
}

a[aria-disabled="true"] {
    /* color: currentColor;
    display: inline-block; */ /* For IE11/ MS Edge bug */
    pointer-events: none;
    opacity: .6;
}

/** Slide Content page **/
.slide-pages {
    overflow: hidden;
}

.slide-pages .slide-pages-content .slide-pages-content-item {
    width: 50%;
    float: left;
}

.slide-pages .slide-pages-content {
    position: relative;
    width: 200%;
    left: 0;
    transition: ease-in-out .5s;
}

.slide-item {
    position: relative;
    display: none;
    padding: 10px;
    margin-top: 15px;
    background: rgb(41 168 71 / 20%);
}

.slide-item .slide-item-arrow {
    position: absolute;
    top: -20px;
    border: 10px solid transparent;
    border-bottom-color: rgb(41 168 71 / 20%);
}

/** Jifi Confirm Modal Custom **/
.js-confirm-confirm button[type="submit"] span {
    color: var(--danger);
    padding-top: 11px;
    border-radius: 0;
}

/** Jifi Tabs Custom **/
.jifi-tabs i.fa-times {
    display: flex;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 9px;
    right: 9px;
    font-size: 10px;
    padding-left: 3.5px;
    padding-top: 2px;
    color: #eee;
    background: #c72b26;
    border-radius: 8px;
    text-align: center;
}

.jifi-tabs a {
    padding-left: 10px !important;
}

.jifi-tabs-systems .jifi-tab-content,
.jifi-tabs-systems.jifi-tabs-style-2 .jifi-tab-content {
    overflow-y: hidden !important;
}

.logs-style .partie-title {
    font-size: 16px;
    color: var(--theme);
    font-weight: bold;
}

.logs-style pre {
    background: #000;
    padding: 20px;
    line-height: 1.8;
    font-family: monospace;
    font-size: 15px;
}

.logs-style strong {
    color: var(--theme);
}

/** Responsive */
@media (max-width: 950px) {

    .header {
        flex-direction: column;
        height: 100px;
    }
    
    .header .logo,
    .header nav {
        width: 100%;
    }

    .sidebar {
        top: 100px;
    }

    .nav {
        height: calc(100vh - 294.14px);
    }

    .content {
        margin-top: 100px;
        margin-left: 0px
    }

    .content-title {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .content-title .breadcrumb {
        margin-top: 5px;
        background: #d2d6de;
    }

    .breadcrumb>li+li:before {
        color: #97a0b3;
    }

    .content .content-page {
        height: calc(100vh - 181px);
        margin-top: 31px;
    }
}

@media (max-width: 576px) {

    .header .header-notifs {
        display: none;
    }

    .sidebar .header-notifs {
        display: flex;
    }
}