/** Outils **/
@import 'tools/root.css';
@import 'tools/reset.css';
@import 'tools/flex.css';
@import 'tools/float.css';
@import 'tools/container.css';
@import 'tools/col.css';
@import 'tools/background.css';
@import 'tools/margin.css';
@import 'tools/padding.css';
@import 'tools/text.css';

/** Modules **/
@import 'modules/form.css';
@import 'modules/notification.css';


body {
    background: #333;
    font-family: sans-serif;
    background-position: top;
}

.fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/** LOADER **/
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation-fill-mode: both;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #254f9c;
    font-size: 10px;
    margin: auto;
    margin-top: 20px;
    transform: translateZ(0);
    animation-delay: -0.16s;
    text-align: center;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

.loader span {
    margin-left: -12px;
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/** FROM JIFITECH **/
.from-jititech {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.from-jititech .jifitech {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
}

.from-jititech .jifitech p {
    font-size: 16px;
    line-height: 25px;
    margin-left: 5px;
    color: #254f9c;
}

/** LOGIN PAGE **/
.submit-form {
    max-width: 300px;
    min-width: 270px;
    background: #fff;
    border-radius: 5px;
}

.submit-form h2 {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background: #254f9c;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.submit-form .submit-form-content {
    padding: 20px;
}

.submit-form .forget-password {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #254f9c;
}

.submit-form .forget-password input {
    margin-top: -3px;
}

.submit-form button {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background: #254f9c;
}

.submit-form hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979;
}

.submit-form p {
    font-size: 14px;
    text-align: center;
    color: #777;
    line-height: 150%;
}

/** LOCK PAGE **/
.content-times {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content-times h1 {
    width: 100%;
    font-size: 50px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.content-times a {
    font-size: 60px;
    display: inline-block;
    margin: 30px 0 15px 0;
    border: #fff solid 5px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 95px;
    transition: ease-in-out .3s;
}

.content-times a:hover {
    color: #254f9c;
    border-color: #254f9c;
}

.content-times p {
    text-transform: uppercase;
    color: #797979;
    margin: 0 0 10px;
    font-size: 13px;
}