.bg-primary {
    background-color: var(--primary) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-black {
    background-color: var(--black) !important;
}

.bg-success {
    background-color: var(--success) !important;
}

.bg-info {
    background-color: var(--info) !important;
}

.bg-warning {
    background-color: var(--warning) !important;
}

.bg-danger {
    background-color: var(--danger) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-theme {
    background-color: var(--theme) !important;
}

/** Degradé **/
.bgg-primary,
.bgg-success,
.bgg-info,
.bgg-warning,
.bgg-danger {
    background-size: cover!important;
}

.bgg-primary {
    background-color: #4e73df!important;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%)!important;
}

.bgg-success {
    background-color: #1cc88a!important;
    background-image: linear-gradient(180deg,#1cc88a 10%,#13855c 100%)!important;
}

.bgg-info {
    background-color: #36b9cc!important;
    background-image: linear-gradient(180deg,#36b9cc 10%,#258391 100%)!important;
}

.bgg-warning {
    background-color: #f6c23e!important;
    background-image: linear-gradient(180deg,#f6c23e 10%,#dda20a 100%)!important;
}

.bgg-danger {
    background-color: #e74a3b!important;
    background-image: linear-gradient(180deg,#e74a3b 10%,#be2617 100%)!important;
}