.list-style {
    counter-reset: li; /* Initialise le compteur */
    list-style: none; /* Supprime la numérotation par défaut */
    *list-style: decimal; /* Restitue la numérotation par défaut pour IE6/7 */
    font-size: 15px;
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.list-style .list-style {
    margin: 0 0 0 2em; /* Ajoute une marge à gauche pour les listes imbriquées */
}

.list-style.list-rectangle a {
    position: relative;
    display: block;
    padding: 10px;
    *padding: 10px;
    margin: 10px 10px 10px 30px;
    background: #ddd;
    transition: all .3s ease-out;
    font-weight: bold;
}

.list-style.list-rectangle a:hover {
    background: #eee;
}

.list-style.list-rectangle a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: var(--theme);
    color: var(--white);
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
}

.list-style.list-rectangle a:after {
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.list-style.list-rectangle a:hover:after {
    left: -.5em;
    border-left-color: var(--theme);
}