/** Auto **/
.m-auto {
    margin: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mtb-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mlr-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

/** 0px **/
.m-0 {
    margin: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mtb-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mlr-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/** 10px **/
.m-1 {
    margin: 10px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.mt-1 {
    margin-top: 10px !important;
}

.ml-1 {
    margin-left: 10px !important;
}

.mr-1 {
    margin-right: 10px !important;
}

.mtb-1 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mlr-1 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

/** 20px **/
.m-2 {
    margin: 20px !important;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mt-2 {
    margin-top: 20px !important;
}

.ml-2 {
    margin-left: 20px !important;
}

.mr-2 {
    margin-right: 20px !important;
}

.mtb-2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mlr-2 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

/** 30px **/
.m-3 {
    margin: 30px !important;
}

.mb-3 {
    margin-bottom: 30px !important;
}

.mt-3 {
    margin-top: 30px !important;
}

.ml-3 {
    margin-left: 30px !important;
}

.mr-3 {
    margin-right: 30px !important;
}

.mtb-3 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mlr-3 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

/** 40px **/
.m-4 {
    margin: 40px !important;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.mt-4 {
    margin-top: 40px !important;
}

.ml-4 {
    margin-left: 40px !important;
}

.mr-4 {
    margin-right: 40px !important;
}

.mtb-4 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.mlr-4 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

/** 50px **/
.m-5 {
    margin: 50px !important;
}

.mb-5 {
    margin-bottom: 50px !important;
}

.mt-5 {
    margin-top: 50px !important;
}

.ml-5 {
    margin-left: 50px !important;
}

.mr-5 {
    margin-right: 50px !important;
}

.mtb-5 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.mlr-5 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}
