/** 0px **/
.p-0 {
    padding: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.ptb-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.plr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/** 10px **/
.p-1 {
    padding: 10px !important;
}

.pb-1 {
    padding-bottom: 10px !important;
}

.pt-1 {
    padding-top: 10px !important;
}

.pl-1 {
    padding-left: 10px !important;
}

.pr-1 {
    padding-right: 10px !important;
}

.ptb-1 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.plr-1 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/** 20px **/
.p-2 {
    padding: 20px !important;
}

.pb-2 {
    padding-bottom: 20px !important;
}

.pt-2 {
    padding-top: 20px !important;
}

.pl-2 {
    padding-left: 20px !important;
}

.pr-2 {
    padding-right: 20px !important;
}

.ptb-2 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.plr-2 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/** Extra **/
.pr-40px {
    padding-right: 40px!important;
}

.plr-5px {
    padding: 5px!important;
}

.width-100 {
    width: 100px!important;
}