html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    display: inline;
    zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    transition: ease-in-out .3s;  
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    opacity: .8;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

figure,
form {
    margin: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    vertical-align: middle;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
}

button[type="submit"] {
    position: relative;
}

button[disabled],
textarea[disabled],
select[disabled],
a[disabled],
input[disabled] {
    cursor: not-allowed;
    background: rgb(204 204 204 / 25%);
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    height: 13px;
    width: 13px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

b,
strong {
    font-weight: bold;
}

button[type="submit"] span {
    position: absolute;
    text-align: center;
    top: -1px;
    padding-top: 6px;
    left: -1px;
    background: rgb(255 255 255 / 0.80);
    right: -1px;
    bottom: -1px;
    border-radius: 4px;
    color: var(--theme);
    font-size: 15px;
}

button[type="submit"].btn span {
    padding-top: 1px;
}

fieldset {
    border: 1px solid var(--theme);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 20px 10px;
    padding: 5px 0 9px 0;
}

legend {
    border: 0;
    padding: 10px;
    white-space: normal;
    margin-left: 5px;
    font-weight: bold;
    color: var(--white);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: var(--theme);
    text-transform: uppercase;
    margin-bottom: 10px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}