:root {
    --theme: #254f9c;
    --primary: #007bff;
    --success: #28a745;
    --info: #17a2b8; /* #31708f */
    --blue: #25a5a9fc;
    --warning: #ffc107;
    --danger: #dc3545; /* #c72b26 */
    --black: #000;
    --dark: #858796;
    --white: #fff;
}