::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color:var(--theme);
    border-radius: 5px;
    border: 0px solid #ccc;
    border-top-width: 5px;
    border-bottom-width: 5px;
}