/** Position **/
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}


/**
 * Text Color
 **/
.text-theme {
    color: var(--theme) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-info {
    color: var(--info) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-black {
    color: var(--black) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-white {
    color: var(--white) !important;
}


/**
 * Font size
 **/
.text-small {
    font-size: 12px !important;
}

.text-font-15 {
    font-size: 15px !important;
}

.text-font-18 {
    font-size: 18px !important;
}


/**
 * Text Font
 **/
.text-bold {
    font-weight: bold !important;
}


/**
 * Text Transform
 **/
.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}


/**
 * Line Height
 **/
.line-height {
    line-height: 1.4;
}

.line-height-1 {
    line-height: 1;
}

.line-height-2 {
    line-height: 2;
}

.line-height-3 {
    line-height: 3;
}